<a class="card" href="/category/linux/">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
    <div class="card__content">
      <p class="card__category">Airflow</p>
      <h3 class="card__heading">Airflow</h3>
    </div>
  </a>

  <a class="card" href="/category/linux/">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
    <div class="card__content">
      <p class="card__category">Hadoop</p>
      <h3 class="card__heading">Hadoop</h3>
    </div>
  </a>

  <a class="card" href="/category/linux/">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
    <div class="card__content">
      <p class="card__category">Spark</p>
      <h3 class="card__heading">Spark</h3>
    </div>
  </a>

  <a class="card" href="/category/linux/">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
    <div class="card__content">
      <p class="card__category">Kafka</p>
      <h3 class="card__heading">Kafka</h3>
    </div>
  </a>

  <a class="card" href="/category/linux/">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
    <div class="card__content">
      <p class="card__category">ELK</p>
      <h3 class="card__heading">ELK</h3>
    </div>
  </a>

  <a class="card" href="/category/linux/">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
    <div class="card__content">
      <p class="card__category">Github</p>
      <h3 class="card__heading">Github Blog 만들기</h3>
    </div>
  </a>
  <a class="card" href="https://github.com/jiminchur">
    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
    <div class="card__content">
      <p class="card__category">Github</p>
      <h3 class="card__heading">Github Profile 꾸미기</h3>