<nav id="primary-nav" class="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <ul id="menu-main-navigation" class="menu">
    <!-- Home link -->
    <li class="menu-item">
      <a href="{{ '/' | relative_url }}" itemprop="url">
        <span itemprop="name">{{ site.data.theme.t.home | default: 'Home' }}</span>
      </a>
    </li>

    <!-- site.pages links -->
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.data.theme.navigation_pages | default: default_paths %}

    {% for path in page_paths %}
      {% assign my_page = site.pages | where: "path", path | first %}
      {% if my_page.title %}
        <li class="menu-item">
          <a href="{{ my_page.url | relative_url }}" itemprop="url">
            <span itemprop="name">{{ my_page.title | escape }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="menu-item has-dropdown">
      <a href="javascript:void(0);" class="dropdown-trigger" itemprop="url">
        <span itemprop="name">Category</span>
      </a>
      <ul class="dropdown-menu" style="display: none;">
        <li><a href="/subcategory1">Subcategory1</a></li>
        <li><a href="/subcategory2">Subcategory2</a></li>
        <!-- 여기에 더 많은 하위 카테고리를 추가할 수 있습니다. -->
      </ul>
    </li>
    
  </ul>
</nav>
<style>
  .dropdown-menu {
    display: none; /* 기본적으로 드롭다운 메뉴를 숨깁니다. */
  }
  
  .dropdown-menu.is-active {
    display: block; /* 활성화될 때 드롭다운 메뉴를 표시합니다. */
  }  
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dropdownTriggers = document.querySelectorAll('.dropdown-trigger');
  
    dropdownTriggers.forEach(function(trigger) {
      trigger.addEventListener('click', function(event) {
        var dropdownMenu = this.parentNode.querySelector('.dropdown-menu');
        dropdownMenu.classList.toggle('is-active');
        event.preventDefault(); // 페이지 이동을 방지합니다.
      });
    });
  
    // 드롭다운 메뉴 외부를 클릭할 때 메뉴를 숨깁니다.
    document.addEventListener('click', function(event) {
      if (!event.target.matches('.dropdown-trigger')) {
        var dropdowns = document.querySelectorAll('.dropdown-menu');
        dropdowns.forEach(function(dropdown) {
          if (dropdown.classList.contains('is-active')) {
            dropdown.classList.remove('is-active');
          }
        });
      }
    });
  });
  
</script>

