<nav id="primary-nav" class="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <ul id="menu-main-navigation" class="menu">
    <!-- Home link -->
    <li class="menu-item">
      <a href="{{ '/' | relative_url }}" itemprop="url">
        <span itemprop="name">{{ site.data.theme.t.home | default: 'Home' }}</span>
      </a>
    </li>

    <!-- site.pages links -->
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.data.theme.navigation_pages | default: default_paths %}

    {% for path in page_paths %}
      {% assign my_page = site.pages | where: "path", path | first %}
      {% if my_page.title %}
        <li class="menu-item">
          <a href="{{ my_page.url | relative_url }}" itemprop="url">
            <span itemprop="name">{{ my_page.title | escape }}</span>
          </a>
          <a href="https://jiminchur.github.io/about" itemprop="url">
            <span itemprop="name">About Me</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="menu-item has-dropdown">
      <a href="javascript:void(0);" class="dropdown-trigger" itemprop="url">
        <span itemprop="name">Category</span>
      </a>
      <!-- Dropdown Menu -->
      <ul class="dropdown-menu">
        <li><a href="/category/cs/">CS</a></li>
        <li><a href="/category/python/">Python</a></li>
        <li><a href="/category/linux/">Linux</a></li>
        <li><a href="/category/aws/">AWS</a></li>
        <li><a href="/category/docker/">Docker</a></li>
      </ul>
    </li>
  </ul>
</nav>
<style>
  .dropdown-menu {
    display: none;
    list-style-type: none;
    padding-left: 40px;
    margin-top: 30px; /* Category와의 간격을 늘림 */
    position: relative;
    left: 80%; /* 화면의 가운데 정렬을 위해 왼쪽으로 50% 이동 */
    transform: translateX(-80%); /* 자신의 너비의 50%만큼 왼쪽으로 이동하여 가운데 정렬 */
  }
  

  .has-dropdown:hover .dropdown-menu {
    display: block;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const dropdownTrigger = document.querySelector('.dropdown-trigger');
    const dropdownMenu = document.querySelector('.dropdown-menu');

    dropdownTrigger.addEventListener('click', (event) => {
      event.preventDefault(); // 기본 이벤트 방지
      dropdownMenu.classList.toggle('is-active'); // 클래스 토글
    });
  });
</script>

