<!DOCTYPE html>
<html>
<body>
    <section class="hero is-fullheight" id="blog">
        <div class="hero-body">
            <div class="container">
                
            <h1>      Recent Posts</h1>
            </div>
        </div>
        <div id="results-container"></div>
        <h1>      Recent Posts</h1>
        <!--Blog Cards Section-->
        {% assign postCount = 0 %}
        {% for post in site.posts %}
          {% if postCount < 5 %}
          {% include blog-card.html %}
          {% assign postCount = postCount | plus: 1 %}
          {% endif %}
        {% endfor %}
        </div>
    </section>
</body>
</html>
