---
layout: default
---
{% include about-intro.html %}
<!DOCTYPE html>
<html>
<span class="bar"></span>
<section class="hero is-fullheight has-text-centered" id="post">
  <div class="hero-body">
    <div class="container">
      <hr class="has-background-black">
      <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
        <p>{{ content }}</p>
      </div>
      <hr class="has-background-black"> <!-- 여기에 추가 -->
      {% include disqus_comments.html %}
    </div>
  </div>
</section>
</html>
