---
layout: default
---

{% include page-intro.html %}


<!DOCTYPE html>
<html>
<body>
    <section class="hero is-fullheight" id="blog">
        <div class="hero-body">
            <div class="container">
            </div>
        </div>
        <div id="results-container"></div>
        <h1> 최근 포스트 </h1>
        <br>
        <!--Blog Cards Section-->
        {% assign postCount = 0 %}
        {% for post in site.posts %}
          {% if postCount < 5 %}
          {% include blog-card.html %}
          {% assign postCount = postCount | plus: 1 %}
          {% endif %}
        {% endfor %}
        </div>
    </section>
</body>
</html>
