---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign currentYear = 'now' | date: "%Y" %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}

{% assign postCount = 0 %}
{% for year in postsByYear %}
  {% for post in year.items %}
    {% if postCount < 5 %}
      <section id="{{ year.name }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ year.name }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% include archive-single.html type=entries_layout %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
      {% assign postCount = postCount | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}
